<div class="row">
  <div class="col-sm-12">
    <h1><%= t "admin.categories" %> <%= link_to (t "admin.add_category"), new_admin_category_path, class: 'btn btn-success' %></h1>
  </div>
</div>

<hr />

<table class="table table-striped">
  <tr>
    <th><%= t "admin.name" %></th>
    <th style="width: 100px;"><%= t "admin.actions" %></th>
  </tr>

  <% @categories.each do |category| %>
      <tr>
        <td><%= category.send("name_" + "#{I18n.locale}") %></td>
        <td>
          <%= link_to (t "admin.delete"), admin_category_path(category), method: :delete, data: {confirm: 'Are you sure?'} %>
        </td>
      </tr>
  <% end %>
</table>
