<div class="jumbotron">
  <h1><%= t ".welcome" %></h1>
  <p><%= t ".welcome_message" %></p>
  <p><a href="#" class="btn btn-primary btn-lg"><%= t ".learn_more" %></a></p>
</div>

<div class="row">

  <div class="col-sm-3">
    <div class="panel panel-default" id="cart">
      <div class="panel-heading">
        <h3 class="panel-title"><%= t ".categories" %></h3>
      </div>
      <div class="panel-body">
        <ul>
        <% Category.all.each do |category| %>
            <li><%= link_to category.send("name_" + "#{I18n.locale}"), category %></a></li>
        <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="row">
      <div class="col-sm-12 products-pagination">
        <%= will_paginate @products %>
      </div>
    </div>

    <div class="row">
        <% @products.each do |product| %>

        <div class="col-sm-6 product-item">
          <div class="panel panel-default">
            <div class="panel-body">
              <h3><%= product.send("title_" + "#{I18n.locale}") %></h3>
              <div class="img" style="background-image: url('<%= image_path product_image(product.id) %>')"></div>
              <h4>$<%= product.price %></h4>
              <p>
                <button class="btn btn-default"><%= link_to (t ".view"), product %></button>
                <button class="btn btn-primary"><%= t '.add_to_cart' %></button>
              </p>
            </div>
          </div>
        </div>

        <% end %>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <%= will_paginate @products %>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
      <div class="panel panel-default" id="cart">
        <div class="panel-heading">
          <h3 class="panel-title"><%= t ".cart" %></h3>
        </div>
        <div class="panel-body">
          <%= t ".your_cart_is_empty" %>
        </div>
      </div>
  </div>
</div>
